<div class="container">
    <div class="well">
        <h1>Ocorrencia de zumbis</h1>
    </div>
    <table class="table" ng-if="ocorrencias.length > 0">
        <thead>
            <th>CEP</th>
            <th>Bairro</th>
            <th>Numero</th>
        </thead>
        <tbody>
            <tr ng-repeat="ocorrencia in ocorrencias">
                <td>{{ocorrencia.cep}}</td>
                <td>{{ocorrencia.bairro | upper}}</td>
                <td>{{ocorrencia.numero}}</td>
            </tr>
        </tbody>
    </table>
    <form name="formZumbi">
        <div class="form-group"><label for="">CEP</label><input ng-blur ng-model="ocorrencia.cep" ng-cep-validator type="text" class="form-control">
        </div>
        <div class="form-group"><label for="">Bairro</label><input ng-blur ng-model="ocorrencia.bairro" ng-minlength="4" type="text" class="form-control"></div>
        <div class="form-group"><label for="">Número</label><input ng-blur ng-model="ocorrencia.numero" required type="text" class="form-control"></div>
        <ng-zumbi-submit submit="adiciona(ocorrencia)"></ng-zumbi-submit>
    </form>
</div>
